<div class="container">
    <h3>Create New Account</h3>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <app-input label="Name" type="text" [control]="authForm.controls.name"></app-input>
        <app-input label="Email" type="email" [control]="authForm.controls.email"></app-input>
        <app-input label="Password" type="password" [control]="authForm.controls.password"></app-input>
        <app-input label="Password Confirmation" type="password" [control]="authForm.controls.passwordConfirmation"></app-input>
        <div class="alert alert-danger" role="alert" *ngIf="showFormErrors()">
            <ng-container *ngIf="authForm.errors['passwordsDontMatch']">Password and password confirmation don't match</ng-container>
            <ng-container *ngIf="authForm.errors['noConnection']">No Internet Connection detected, failed to signup</ng-container>
            <ng-container *ngIf="authForm.errors['unknownError']">Failed to signup please try again later</ng-container>
        </div>

        <button class="btn btn-primary">Submit</button>
    </form>
</div>