<div class="mb-3">
    <label *ngIf="controlType !== 'checkbox'" class="form-label">{{label}}</label>
    <input *ngIf="controlType === 'input'" class="form-control" [type]="type" [formControl]="control" />
    <textarea class="form-control" *ngIf="controlType === 'textarea'" [formControl]="control"></textarea>

    <div *ngIf="controlType === 'checkbox'" class="form-check">
        <input [formControl]="control" class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
        <label class="form-check-label" for="flexCheckIndeterminate">
          {{label}}
        </label>
      </div>

    <div *ngIf="showErrors()" class="alert alert-danger" role="alert">
        <ng-container *ngIf="control.errors['required']"> Value is required </ng-container>
        <ng-container *ngIf="control.errors['email']"> you must provide a valid email </ng-container>
        <ng-container *ngIf="control.errors['minlength']">
            Value entered is 
            {{control.errors['minlength'].actualLength}} character long,
            but it must be at least {{control.errors['minlength'].requiredLength}}
        </ng-container>
        <ng-container *ngIf="control.errors['maxlength']">
            Value entered is 
            {{control.errors['maxlength'].actualLength}} character long,
            but it can't be longer than {{control.errors['maxlength'].requiredLength}}
        </ng-container>
        <ng-container *ngIf="control.errors['pattern']">Invalid format</ng-container>
        <ng-container *ngIf="control.errors['nonUniqueEmail']">Email is taken.</ng-container>
        <ng-container *ngIf="control.errors['noConnection']">Can't Tell if email is taken.</ng-container>
    </div>
</div>